{% extends "base.html" %} 
	{% block title  %}Car List{% endblock title %}

{% block content %}
<div class="row py-5 px-5">
	{% for car in cars %}
	<div class="col-12 col-md-6 col-lg-4">
	<div class="row.no-gutters">
			{% if car.car_img %}
		<img class="card-img-top"src="{{car.car_img.url}}"style="width: 18rem;" />
		{% endif %}
			<a href="{{car.get_absolute_url}}">
			<h1 class="card-title">
				{{car.make}} - {{car.model}}
				<small class="card-body">
					{{car.year}}
				</small>
			</h1>
				<div>
			<div>
				<a href="{% url 'car-detail' car_id %}">read more</a>
  				</div>
  			</div>
	</div>
	</div>
		</a>
		<hr>
	{% endfor %}
	</div>
</div>
{% endblock content %}